html {
    height: 100%
}

body {
    background-color: #fff;
    font-family: sans-serif;
    color: black;
    padding-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
}

.CodeMirror-outer {
    border: 1px solid gray;
    border-radius: 2px;
    padding: 0 1px;
}

.CodeMirror {
    min-height: 350px;
    height: -moz-calc(100% - 120px);
    height: -o-calc(100% - 120px);
    height: -webkit-calc(100% - 120px);
    height: calc(100% - 120px);
}

.CodeMirror-scroll {
    min-height: 350px;
    height: -moz-calc(100% - 120px);
    height: -o-calc(100% - 120px);
    height: -webkit-calc(100% - 120px);
    height: calc(100% - 120px);
}
